{% extends 'base.email.html.twig' %}
{% block body %}
<!-- Email wrapper : BEGIN -->
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center" style="width:600px; margin: 0 auto;" class="email-container">
    <tr>
        <td>
            <!-- Visually Hidden Preheader Text : BEGIN -->
            <div style="display:none;font-size:1px;color:#50a9ca;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;mso-hide: all;">
                {{ 'confirm_account.thanks_for_subscription' | trans }}
            </div>
            <!-- Visually Hidden Preheader Text : END -->
        </td>
    </tr>
    <tr>
        <td>

            <!-- Logo + Links : BEGIN -->
            <table style="background-color: #4c5d73" border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="middle" width="150" style="padding:0; text-align:left; line-height: 1;" class="stack-column-center">
                        <img src="{{ absolute_url('assets/img/logo.jpg') }}" alt="{{ 'logo_title' }}" width="150" height="50" border="0" style="display: block; margin: 0;">
                    </td>
                    <td valign="middle" style="padding:0 10px 0 0; text-align:right; line-height:1.1; font-family: sans-serif; font-size: 18px; color: #FFFFFF;" class="stack-column-center">
                        {{ 'confirm_account.thanks_for_subscription' | trans }}
                    </td>
                </tr>
            </table>
            <!-- Logo + Links : END -->
            <!-- Main Email Body : BEGIN -->
            <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="background-color: #ffffff;">
                <!-- Full Width, Fluid Column : BEGIN -->
                <tr>
                    <td style="padding: 4%; font-family: sans-serif; font-size: 15px; line-height: 1.3; color: #8b9396;">
                        {{ 'confirm_account.content_mail' | trans }}
                        <br><br>
                        <a title="Inscription" target="_blank" href="{{ url('confirm_user', {'key': confirmKey}) }}" style="background: #114674; border: 15px solid #114674; padding: 0 10px;color: #ffffff; font-family: sans-serif; font-size: 15px; line-height: 1; text-align: center; text-decoration: none; display: block; border-radius: 3px;">
                            <b><!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]-->{{ 'confirm_account.confirm_account_text' | trans }}<!--[if mso]>&nbsp;&nbsp;&nbsp;&nbsp;<![endif]--></b>
                        </a>
                    </td>
                </tr>
                <!-- Data Table : END -->
            </table>
            <!-- Main Email Body : END -->
        </td>
    </tr>
</table>
<!-- Email wrapper : END -->
{% endblock %}